body{
    
        background: radial-gradient(circle, #084400 10%, transparent 11%);
        background-size: 1em 1em;
        opacity: 1;
        background-color: #212529;

#main-card {
    margin-top: 8%;
    color: red;
    display: flex;
    justify-self: center;
    border-style: solid;
    background-color: #ffffff;
    width: 70%;
    height: 500px;
    border-radius: 25px;
}

.my-name{
    font-size: 100px;
}